<div>
    {{#if isAuthenticated}}

        <app-header @update={{action updateState}} />

        {{#if (eq state.screen screenState.Prescription)}}
            <prescription-screen @update={{action updateState}} />
        {{/if}}

        {{#if (eq state.screen screenState.Vaccines)}}
            <vaccines-screen @update={{action updateState}} />
        {{/if}}

        {{#if (eq state.screen screenState.Travel)}}
            <travel-screen @update={{action updateState}} />
        {{/if}}

        <tab-bar @update={{action updateState}} />

    {{else}}

        {{#if (eq state.screen screenState.Loading)}}
            <loading-screen @update={{action updateState}} />
        {{/if}}

        {{#if (eq state.screen screenState.Login)}}
            <login-screen @update={{action updateState}} />
        {{/if}}

    {{/if}}

    {{#if shouldShowError }}
        <error-modal @message={{state.error}} @update={{action updateState}} />
    {{/if}}

</div>
