<div id="travelinfo" class="animated quick fadeInUp">
    <div class="screen-header">
        <h1>Travel Information</h1>
    </div>
    <div>
        <h2>What country are you visiting?</h2>
        <select onchange={{action updateCountry}}>
            <option value="">Select a country</option>
            {{#each countries key="@index" as |country|}}
            <option value={{country}}>{{country}}</option>
            {{/each}}
        </select>
        {{#if (notnull requiredVaccines)}}
            <div class="required-vaccines">
                <h3>Required vaccines</h3>
                {{#each requiredVaccines key="@index" as |vaccine|}}
                    <p>
                        {{ucfirst vaccine.name}}

                        {{#if vaccine.hasVaccine}}
                            <img src="/assets/icon/checked.svg" width="16">
                        {{/if}}
                    </p>
                {{/each}}
            </div>
        {{/if}}
        {{#if (notnull prescriptionDayLength)}}
            <div class="day-length">
                <h3>Duration of prescription</h3>
                <p>{{prescriptionDayLength}}</p>
            </div>
        {{/if}}
    </div>
</div>
