<div class="animated quick fadeInUp">
    <div class="screen-header">
        <h1>Your prescriptions</h1>
        <div class="add"></div>
    </div>
    <div class="prescription-list">
        {{#each items key="@index" as |item|}}
        <div class="prescription-item">
            <div class="type">
                <h2>{{item.name}}</h2>
                <p>{{item.dosageinstructions}}</p>
            </div>
            <div class="medicine-icon" onclick={{action viewPrescription item}}></div>
        </div>
        {{/each}}
    </div>
    <div class="screen-header">
        <h1>Drug interactions</h1>
    </div>
    <div class="prescription-cross">
        <input type="text" placeholder="Check potential interactions" onkeyup={{action medicineInput}}>
        <button class="haapa-button small" style="margin-top: 15px;" onclick={{action checkInteractions}}>
            Check
        </button>
    </div>
</div>

{{#if (notnull selectedItem)}}
<div class="prescription-overlay animated quick fadeIn"></div>
<div class="prescription-detail quick fadeIn">
    <h1>{{selectedItem.name}}</h1>
    <div class="prescription-data">
        <dl>
            <dt>Atc Code.</dt>
            <dd>{{selectedItem.atccode}}</dd>
            <dt>Form</dt>
            <dd>{{selectedItem.form}}</dd>
            <dt>Item No.</dt>
            <dd>{{selectedItem.itemno}}</dd>
            <dt>Number of packages</dt>
            <dd>{{selectedItem.numberofpackages}}</dd>
            <dt>Quantity</dt>
            <dd>{{selectedItem.quantity}}</dd>
            <dt>Strength</dt>
            <dd>{{selectedItem.strength}}</dd>
            <dt>Prescription Id</dt>
            <dd>{{selectedItem.prescriptionid}}</dd>
        </dl>
    </div>
    <div class="close" onclick={{action closePrescription}}>Close</div>
</div>
{{/if}}

{{#if (notnull interactionsData)}}
<div class="prescription-overlay animated quick fadeIn"></div>
<div class="prescription-detail quick fadeIn">
    <h1>Cross references</h1>
    <div class="prescription-data">
        {{#each interactionsData key="@index" as |interaction|}}
            {{#if (eq interaction.severity 'high')}}
                <p><img src="/assets/icon/warning.svg" width="16"> {{interaction.description}}</p>
            {{else}}
                <p>{{interaction.description}}</p>
            {{/if}}
        {{/each}}
    </div>
    <div class="close" onclick={{action closeInteractions}}>Close</div>
</div>
{{/if}}
