<div class="animated quick fadeInUp">
    <div class="screen-header">
        <h1>Your prescriptions</h1>
        <div class="add"></div>
    </div>
    <div class="prescription-list">
        {{#each items key="@index" as |item|}}
        <div class="prescription-item">
            <div class="type">
                <h2>{{item.name}}</h2>
                <p>{{item.dosageinstructions}}</p>
            </div>
            <div class="medicine-icon" onclick={{action viewPrescription item}}></div>
        </div>
        {{/each}}
    </div>
</div>

{{#if (notnull selectedItem)}}
<div class="prescription-overlay animated quick fadeIn"></div>
<div class="prescription-detail quick fadeIn">
    <h1>{{selectedItem.name}}</h1>
    <div class="prescription-data">
        <dl>
            <dt>Atc Code.</dt>
            <dd>{{selectedItem.atccode}}</dd>
            <dt>Form</dt>
            <dd>{{selectedItem.form}}</dd>
            <dt>Item No.</dt>
            <dd>{{selectedItem.itemno}}</dd>
            <dt>Number of packages</dt>
            <dd>{{selectedItem.numberofpackages}}</dd>
            <dt>Quantity</dt>
            <dd>{{selectedItem.quantity}}</dd>
            <dt>Strength</dt>
            <dd>{{selectedItem.strength}}</dd>
            <dt>Prescription Id</dt>
            <dd>{{selectedItem.prescriptionid}}</dd>
        </dl>
    </div>
    <div class="close" onclick={{action closePrescription}}>Close</div>
</div>
{{/if}}
